<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.niclabs.adkintunmobile">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="cl.niclabs.adkmobile.AdkintunMobileApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AdkintunTheme">

        <!-- Give permission to services used in the app -->
        <service android:name="cl.niclabs.adkmobile.monitor.Traffic" />
        <service android:name="cl.niclabs.adkmobile.monitor.Connectivity" />
        <service android:name="cl.niclabs.adkmobile.monitor.Telephony" />

        <meta-data
            android:name="PERSISTENT"
            android:value="false" />

        <!-- Our Activities -->
        <activity
            android:name=".views.dashboard.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.status.StatusActivity"
            android:parentActivityName=".views.dashboard.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.dashboard.MainActivity" />
        </activity>
        <activity
            android:name=".views.applicationstraffic.ApplicationsTrafficActivity"
            android:parentActivityName=".views.dashboard.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.dashboard.MainActivity" />
        </activity>
        <activity
            android:name=".views.settings.SettingsActivity"
            android:parentActivityName=".views.dashboard.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.dashboard.MainActivity" />
        </activity>
        <activity
            android:name=".views.aboutus.AboutUsActivity"
            android:parentActivityName=".views.dashboard.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AdkintunFullScreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.dashboard.MainActivity" />
        </activity>

        <!-- Database configuration -->
        <meta-data
            android:name="DATABASE"
            android:value="adkmobile.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="cl.niclabs.adkintunmobile.data.persistent" />

        <!-- Our Services -->
        <service android:name=".services.monitors.ConnectivityMonitor" />
        <service android:name=".services.monitors.TelephonyMonitor" />
        <service android:name=".services.monitors.TrafficMonitor" />
        <service android:name=".services.sync.Synchronization" />

        <!-- Our Receivers -->
        <receiver android:name=".services.sync.SynchronizationBroadcastReceiver" />
        <receiver
            android:name=".services.SetupSystem"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".services.sync.WifiBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>